/***** FONTS ******/
@font-face {
  font-family: 'FilmotypeLaSalle';
  src: url('/assets/fonts/Filmotype/FilmotypeLaSalle/FilmotypeLaSalle.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Filmotype/FilmotypeLaSalle/FilmotypeLaSalle.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Filmotype/FilmotypeLaSalle/FilmotypeLaSalle.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Filmotype/FilmotypeLaSalle/FilmotypeLaSalle.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Filmotype/FilmotypeLaSalle/FilmotypeLaSalle.svg#51092cc6d378b2f00be49b40fcafd1bb') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
 }

 @font-face {
  font-family: 'glamocon';
  src: url('/assets/fonts/Glamocon/glamocon.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Glamocon/glamocon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Glamocon/glamocon.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Glamocon/glamocon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Glamocon/glamocon.svg#51092cc6d378b2f00be49b40fcafd1bb') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
 }

 @font-face {
   font-family: 'FilmotypeMacBeth';
   src: url('/assets/fonts/Filmotype/FilmotypeMacBeth/FilmotypeMacBeth.eot'); /* IE9 Compat Modes */
   src: url('/assets/fonts/Filmotype/FilmotypeMacBeth/FilmotypeMacBeth.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/Filmotype/FilmotypeMacBeth/FilmotypeMacBeth.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/Filmotype/FilmotypeMacBeth/FilmotypeMacBeth.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/Filmotype/FilmotypeMacBeth/FilmotypeMacBeth.svg#51092cc6d378b2f00be49b40fcafd1bb') format('svg'); /* Legacy iOS */
   font-style:   normal;
   font-weight:  400;
  }

@font-face {
  font-family: 'BaronNeue';
  src: url('/assets/fonts/BaronNeue/BaronNeue.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/BaronNeue/BaronNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/BaronNeue/BaronNeue.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/BaronNeue/BaronNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/BaronNeue/BaronNeue.svg#bfae9629e2f57aad88aaab1434110119') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Silverfake';
  src: url('/assets/fonts/Silverfake/Silverfake.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Silverfake/Silverfake.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Silverfake/Silverfake.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Silverfake/Silverfake.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Silverfake/Silverfake.svg#e2da73822190b2acc07a590b043aa554') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'bariol_bold';
  src: url('/assets/fonts/Bariol/Bariol_Bold/bariol_bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Bariol/Bariol_Bold/bariol_bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Bariol/Bariol_Bold/bariol_bold.woff') format('woff'),
       url('/assets/fonts/Bariol/Bariol_Bold/bariol_bold.ttf')  format('truetype'),
       url('/assets/fonts/Bariol/Bariol_Bold/bariol_bold.svg') format('svg');

}

@font-face {
  font-family: 'bariol';
  src: url('/assets/fonts/Bariol/Bariol_Regular/bariol_regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Bariol/Bariol_Regular/bariol_regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Bariol/Bariol_Regular/bariol_regular.woff') format('woff'),
       url('/assets/fonts/Bariol/Bariol_Regular/bariol_regular.ttf')  format('truetype'),
       url('/assets/fonts/Bariol/Bariol_Regular/bariol_regular.svg') format('svg');

}

@font-face {
  font-family: 'bariol_icons';
  src: url('/assets/fonts/Bariol/Bariol_Icons/bariol_icons.eot');
  src: url('/assets/fonts/Bariol/Bariol_Icons/bariol_icons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Bariol/Bariol_Icons/bariol_icons.woff') format('woff'),
       url('/assets/fonts/Bariol/Bariol_Icons/bariol_icons.ttf')  format('truetype'),
       url('/assets/fonts/Bariol/Bariol_Icons/bariol_icons.svg') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/assets/fonts/Vollkorn/vollkorn.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Vollkorn/vollkorn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Vollkorn/vollkorn.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Vollkorn/vollkorn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Vollkorn/vollkorn.svg') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
 }