label.outer-circle { display: block; }
img { display: block; margin: auto; }

/* 404 */
.e-num{ 
	font-family: FilmotypeLaSalle;
	padding-top: 25px;
	text-shadow: 1px 1px $retro-black;
}

.back-retro-white { background-color: $retro-white; }
.border-none { border:none; }
hr { margin-left: 5rem; margin-right: 5rem; }

/* Floats */
.clear-both { clear: both; }

/* Alignment */
.text-center { text-align: center; }

/* Color */
.c-white{ color: $retro-white; };
.c-red{ color: $retro-red; }
.c-black{ color: $retro-black; }
.c-purple{ color: $retro-purple; }
.c-gray{ color: $retro-gray; }
.c-teal{ color: $retro-teal; }

/* Fonts */
.glamocon { font-family: 'glamocon'; font-size: 65px; }
.filmotypelasalle { font-family: 'FilmotypeLaSalle'; }
.baronneue { font-family: 'BaronNeue'; }
.silverfake { font-family: 'Silverfake'; }
.bariol { font-family: 'bariol'; }
.bariol-i { font-family: 'bariol_icons'; }
.vollkorn { font-family: 'Vollkorn'; }

/* Modal */
.modal-content { 
	background-color: $retro-white; 
	a { color: $retro-red; }
	.btn-outline-primary { color: $retro-black; }
}

.modal-title { float:left; }

/* Buttons */

.btn:focus,
.btn:active, 
a:focus, 
a:active,
button.close:focus, 
button.colose:active {
   outline: none !important;
}

.btn { border: 2px solid transparent; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus, .btn-outline-primary.active:hover, .btn-outline-primary:active.focus, .btn-outline-primary:active:focus, .btn-outline-primary:active:hover, .open>.dropdown-toggle.btn-outline-primary.focus, .open>.dropdown-toggle.btn-outline-primary:focus, .open>.dropdown-toggle.btn-outline-primary:hover {
  color: $retro-white;
  background-color: $retro-red;
  border-color: $retro-red; 
}

.btn-outline-primary{ border-color: $retro-red; }