label.outer-circle { display: block; }

.c-white{ color: $retro-white; };
.c-red{ color: $retro-red; }
.c-black{ color: $retro-black; }
.c-purple{ color: $retro-purple; }
.c-gray{ color: $retro-gray; }
.c-teal{ color: $retro-teal; }