label.outer-circle { display: block; }

.c-white{ color: $retro-white; };
.c-red{ color: $retro-red; }
.c-black{ color: $retro-black; }
.c-purple{ color: $retro-purple; }
.c-gray{ color: $retro-gray; }
.c-teal{ color: $retro-teal; }

.e-num{ 
	font-family: FilmotypeLaSalle;
	padding-top: 25px;
	text-shadow: 1px 1px $retro-black;
}

.back-retro-white {
	background-color: $retro-white;
}

.btn{
	    border: 2px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  color: $retro-white;
  background-color: $retro-red;
  border-color: $retro-red; 
}

.btn-outline-primary{
	border-color: $retro-red;
}