/* body {
   background: url(../imgs/back.jpg) no-repeat center center fixed;
   background-size: cover;
 }


.construction-logo {
   background: url(../imgs/underconstruction.png) no-repeat center center;
   background-size: cover;
   width: 300px;
   margin: auto;
   height: 300px;
}*/

body { background-color: white; }