html { height: 100%; }

html, 
body { background-color: $retro-white; min-height: 100%; font-family: "bariol";}

p a, 
p a:visited,
p a:active,
p a:focus {
  color: $retro-red;
  transition: color .2s ease-out;
  text-decoration: none;
  font-weight: 600;
}

p a:hover { color: $retro-red-highlight; text-decoration: none;}

.available-link,
.available-link:active,
.available-link:visited,
.available-link:hover { font-weight: 300; }

.icon-list a:hover,
.icon-list a:visited,
.icon-list a,
a i:hover,
a i:visited,
a i { transition: color 0s; }

a i:hover, a i:active { color: $retro-white; }

#nav-buttons { display:none; }

.error { 
  background: url("../imgs/404.png") no-repeat center top fixed;
}

.i-bariol { font-family: "bariol_icons"; font-size: 50px;}

.logo-container {
	margin: auto;
	text-align: center;
}

.main-anchors-sm {
  display:block;
}

.main-anchors-lg { 
  display:none;
}

.logo {
  color: $retro-red;
  font-family: "FilmotypeLaSalle";
  font-weight: 100;
  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: none;
  text-shadow: 1px 1px $retro-black;
}

.outer-circle {
	margin-bottom: 25px;
	margin-top: 25px;
}

.inner-circle + input{
  display: none; /* hide the checkboxes */
  opacity: 0;
  position: absolute;
  top: -999px;
  left: -999px;
}

.inner-circle {
	background: url('http://i.huffpost.com/gen/242376/LICHT2.jpg') no-repeat center top;
	background-color: $retro-black;
  background-size: cover;
	border-radius: 50%;
	box-shadow: 0 0 0 5px $retro-white, 0 0 0 10px gray, 0 0 0 12px $retro-black;
	height: 200px;
	margin: auto;
	overflow: hidden;
	width: 200px;
	transition: box-shadow 2s ease;
	&:hover { 
		box-shadow: 0 0 0 5px $retro-white, 0 0 0 10px $retro-red, 0 0 0 12px $retro-black; 
		cursor: pointer;
	}
}

.content-header {
  background: rgba($retro-black, 0.45);
  border-top: 5px solid $retro-black;
	color: $retro-white;
  display: block;
  height: 60%;
  margin-bottom: 0%;
  margin-top: 55%;
  text-align: center;
  width: 100%;
  .h5 {
  	color: $retro-white;
  	font-family: "bariol_bold";
  }
}

.content-banner {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: auto 100%;
    height: 150px;
  .h5 {
    font-size: 60px;
    text-align: center;
    color: #fdfef4;
    text-shadow: $retro-black 4px 4px;
  }
}

.note {
  color: $retro-black;
  font-family: 'bariol_bold';
  text-align: center;
}

.icon-list {
  list-style: none;
  padding: 0;
  a { 
    color: $retro-black;
  }
  li { display: inline-block; }
}

.artist-info {
  font-size: .8rem;
  float: right;
  font-family: "FilmotypeLaSalle";
  font-weight:300;
  color: $retro-gray;
}

.contact-info {
  font-size: .8rem;
  float:left;
  color: $retro-gray;
  clear: both;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.poster-still { margin-bottom: 2px; }




